<ion-content [fullscreen]="true"> 
  <div class="box">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar></ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="person"></ion-icon>Meu Perfil
          </ion-item>
          <ion-item>
            <ion-icon name="settings"></ion-icon>Configurações
          </ion-item>
          <ion-item>
            <ion-icon name="person-add"></ion-icon> 
            <a [routerLink]="['/equipe']" class="equipe">Equipe</a>
          </ion-item>
        </ion-list>
      </ion-content>  
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-header>
    </div>

    <div>
      <ng-container *ngIf="userName === 'Login'; else loggedInUser">
        <a [routerLink]="['/login']">
          <ion-title class="login">{{ userName }}</ion-title>
        </a>
      </ng-container>
      <ng-template #loggedInUser>
        <ion-title class="login">{{ userName }}</ion-title>
      </ng-template>
    </div>
    
    <a [routerLink]="['/index']">
      <h1 class="Mylg">MyLibraryGame</h1>
    </a>

    

    <div class="GameContent">
      <h3>Novos Lançamentos</h3>
      <div class="cards-container">
        <ion-card (click)="openGameDetails(987537)"> 
          <ion-list>
            <img src="../../../assets/imgs/wukong.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(982817)"> 
          <ion-list>
            <img src="../../../assets/imgs/astrobot.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(850705)"> 
          <ion-list>
            <img src="../../../assets/imgs/tk8.png" />
          </ion-list>
        </ion-card>
      </div>
    </div>

    <div class="GameContent2">
      <div class="cards-container">
        <ion-card (click)="openGameDetails(972995)">
          <ion-list>
            <img src="../../../assets/imgs/GTAVI.jpg" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(799266)"> 
          <ion-list>
            <img src="../../../assets/imgs/zzz.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(989580)"> 
          <ion-list>
            <img src="../../../assets/imgs/mouthwashing.jpg" />
          </ion-list>
        </ion-card>
      </div>
    </div>

    <div class="GameContent2">
      <div class="cards-container">
        <ion-card (click)="openGameDetails(963212)"> 
          <ion-list>
            <img src="../../../assets/imgs/metaphor.jpg" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(962025)"> 
          <ion-list>
            <img src="../../../assets/imgs/dragon.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(891532)"> 
          <ion-list>
            <img src="../../../assets/imgs/death2.jpg" />
          </ion-list>
        </ion-card>
      </div>
    </div>

    <div class="GameContent2">
      <div class="cards-container">
        <ion-card (click)="openGameDetails(804753)"> 
          <ion-list>
            <img src="../../../assets/imgs/DOGMA.webp" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(490430)"> 
          <ion-list>
            <img src="../../../assets/imgs/prin.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(983381)"> 
          <ion-list>
            <img src="../../../assets/imgs/doom.jpg" />
          </ion-list>
        </ion-card>
      </div>
    </div>

    <div class="GameContent2">
      <div class="cards-container">
        <ion-card (click)="openGameDetails(962020)"> 
          <ion-list>
            <img src="../../../assets/imgs/star.jpg" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(974379)"> 
          <ion-list>
            <img src="../../../assets/imgs/db.jpg" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(891238)"> 
          <ion-list>
            <img src="../../../assets/imgs/HADES2.png" />
          </ion-list>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
