<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="titulo">Cadastro</ion-title>
  </div>

  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullname" placeholder="Digite seu usuário" class="input"></ion-input>
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['fullname'].touched && this.regForm.controls?.['fullname'].invalid">
        <ion-text *ngIf="errorControl.fullname.errors?.required" color="danger" slot="center">
          Insira seu nome de usuário.
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="email" placeholder="Digite seu e-mail" class="input"></ion-input>
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required" color="danger" slot="center">
          Insira seu email.
        </ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern" color="danger" slot="center">
          Insira um email válido.
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Digite sua senha" maxlength="9" class="input"></ion-input>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['password'].touched && this.regForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl.password.errors?.required" color="danger" slot="center">
          A senha é necessária.
        </ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern" color="danger" slot="center">
          A senha precisa de:
           1 letra maiúscula;
           8 caracteres;
           1 símbolo.
        </ion-text>
      </div>
      
      <div class="botao">
        <ion-button shape="round" color="dark" (click)="signUp()">Cadastrar</ion-button>
      </div>
      <div class="reg">
       <p>Já possui uma conta?<a [routerLink]="['/login']">Faça o Login</a></p>
      </div>
    </div>

  </form>
</ion-content>