<ion-content [fullscreen]="true"> 
  <div class="box">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar class="custom-toolbar">
          <ion-title class="custom-title">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="custom-content">
          <ion-item class="custom-item" routerLink="/meuperfil" routerDirection="root">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label class="custom-label">Meu Perfil</ion-label>
          </ion-item>
          <ion-item class="custom-item" routerLink="/configuracao" routerDirection="root">
            <ion-icon slot="start" name="settings"></ion-icon>
            <ion-label class="custom-label">Configurações</ion-label>
          </ion-item>
          <ion-item class="custom-item" routerLink="/equipe" routerDirection="root">
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label class="custom-label">Equipe</ion-label>
          </ion-item>
      </ion-content>    
      
      <ion-item *ngIf="userName !== 'Login'" class="iten">
        <ion-button (click)="logout()" color="medium" class="log">
          Sair
        </ion-button>
      </ion-item>     
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-header>
    </div>
  
    <div>
      <ng-container *ngIf="userName === 'Login'; else loggedInUser">
        <a [routerLink]="['/login']">
          <ion-title class="login">{{ userName }}</ion-title>
        </a>
      </ng-container>
      <ng-template #loggedInUser>
        <ion-title class="login">{{ userName }}</ion-title>
      </ng-template>
    </div>
    
    <a [routerLink]="['/index']">
      <h1 class="Mylg">MyLibraryGame</h1>
    </a>
    <ion-card class="GameContent">
      <ion-card-header>
        <h2 color="black">Digite seu Email para trocarmos sua senha</h2>
      </ion-card-header>
      <ion-item>
        <ion-icon slot="start" name="person-outline" class="tt"></ion-icon>
        <ion-input [(ngModel)]="email" type="email" placeholder="Digite seu email" class="input"></ion-input>
      </ion-item>
          <div class="botao">
            <ion-button shape="round" (click)="resetPassword()" color="dark">Enviar</ion-button>
          </div>
    </ion-card>
    </div>
  </ion-content>
  