<ion-content [fullscreen]="true"> 
  <div class="box">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar></ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="person"></ion-icon>Meu Perfil
          </ion-item>
          <ion-item>
            <ion-icon name="settings"></ion-icon>Configurações
          </ion-item>
          <ion-item>
            <ion-icon name="person-add"></ion-icon> <a [routerLink]="['/equipe']" class="equipe">Equipe</a>
          </ion-item>
        </ion-list>
      </ion-content>  
    </ion-menu>
  
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-header>
    </div>
  
    <div>
      <a [routerLink]="['/login']">
        <ion-title class="login">Login</ion-title>
      </a>
    </div>
    <a [routerLink]="['/index']">
      <h1 class="Mylg">MyLibraryGame</h1>
    </a>
    <ion-card class="GameContent">
      <ion-card-header>
        <h2 color="black">Digite seu Email para trocarmos sua senha</h2>
      </ion-card-header>
      <ion-item>
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input [(ngModel)]="email" type="email" placeholder="Digite seu email" class="input"></ion-input>
      </ion-item>
          <div class="botao">
            <ion-button shape="round" (click)="resetPassword()" color="dark">Enviar</ion-button>
          </div>
    </ion-card>
    </div>
  </ion-content>
  