<ion-content [fullscreen]="true"> 
  <div class="box">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar class="custom-toolbar">
          <ion-title class="custom-title">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="custom-content">
          <ion-item class="custom-item" routerLink="/meuperfil" routerDirection="root">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label class="custom-label">Meu Perfil</ion-label>
          </ion-item>
          <ion-item class="custom-item" routerLink="/configuracao" routerDirection="root">
            <ion-icon slot="start" name="settings"></ion-icon>
            <ion-label class="custom-label">Configurações</ion-label>
          </ion-item>
          <ion-item class="custom-item" routerLink="/equipe" routerDirection="root">
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label class="custom-label">Equipe</ion-label>
          </ion-item>
      </ion-content>    
      
      <ion-item *ngIf="userName !== 'Login'" class="iten">
        <ion-button (click)="logout()" color="medium" class="log">
          Sair
        </ion-button>
      </ion-item>     
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-header>
    </div>

    <div>
      <ng-container *ngIf="userName === 'Login'; else loggedInUser">
        <a [routerLink]="['/login']">
          <ion-title class="login">{{ userName }}</ion-title>
        </a>
      </ng-container>
      <ng-template #loggedInUser>
        <a [routerLink]="['/meuperfil']">
          <ion-title class="login">{{ userName }}</ion-title>
        </a>
      </ng-template>
    </div>
    
    <a [routerLink]="['/index']">
      <h1 class="Mylg">MyLibraryGame</h1>
    </a>

    <div class="GameContent">
      <h3>Piores Notas</h3>
      <div class="cards-container">
        <ion-card (click)="openGameDetails(17936)"> 
          <ion-list>
            <img src="../../../assets/imgs/rambo.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(825734)"> 
          <ion-list>
            <img src="../../../assets/imgs/superman64.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(427543)"> 
          <ion-list>
            <img src="../../../assets/imgs/mineiro.png" />
          </ion-list>
        </ion-card>
      </div>
    </div>

    <div class="GameContent2">
      <div class="cards-container">
        <ion-card (click)="openGameDetails(2956)">
          <ion-list>
            <img src="../../../assets/imgs/Tony.avif" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(27505)"> 
          <ion-list>
            <img src="../../../assets/imgs/Sonicboomwiiu.jpg" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(3991)"> 
          <ion-list>
            <img src="../../../assets/imgs/alien.jpg" />
          </ion-list>
        </ion-card>
      </div>
    </div>

    <div class="GameContent2">
      <div class="cards-container">
        <ion-card (click)="openGameDetails(55980)"> 
          <ion-list>
            <img src="../../../assets/imgs/batma.jpg" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(35607)"> 
          <ion-list>
            <img src="../../../assets/imgs/postal.jpg" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(4190)"> 
          <ion-list>
            <img src="../../../assets/imgs/cod.jpg" />
          </ion-list>
        </ion-card>
      </div>
    </div>

    <div class="GameContent2">
      <div class="cards-container">
        <ion-card (click)="openGameDetails(40931)"> 
          <ion-list>
            <img src="../../../assets/imgs/Ravenscry.jpg" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(989)"> 
          <ion-list>
            <img src="../../../assets/imgs/fighter.jpg" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(24101)"> 
          <ion-list>
            <img src="../../../assets/imgs/twd.jpg" />
          </ion-list>
        </ion-card>
      </div>
    </div>

    <div class="GameContent2">
      <div class="cards-container">
        <ion-card (click)="openGameDetails(294133)"> 
          <ion-list>
            <img src="../../../assets/imgs/dbz.webp" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(27903)"> 
          <ion-list>
            <img src="../../../assets/imgs/vroom.jpg" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(353423)"> 
          <ion-list>
            <img src="../../../assets/imgs/bruce.jpg" />
          </ion-list>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
