
  <ion-content>
    <div class="ion-page" id="main-content">
    </div>
    <ion-card class="GameContent">
      <ion-card-header>
        <h1 color="black">MyLG</h1>
      </ion-card-header>

      <br><br><br><br><br>
      <ion-card-header>
        <h2 color="black" class="teste">My Library Games é o app para descobrir jogos de todas as plataformas</h2>
      </ion-card-header>
          <div class="botao">
            <ion-button shape="round" color="dark" [routerLink]="['/index']">Vamos lá!</ion-button>
          </div>
    </ion-card>
  </ion-content>
  