<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="titulo">Login</ion-title>
  </div>

  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">
      <ion-item class="login">
        <ion-input formControlName="email" placeholder="Digite seu e-mail" class="input"></ion-input>
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required" color="danger" slot="center">
          Insira seu email.
        </ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern" color="danger" slot="center">
          Insira um email válido.
        </ion-text>
      </div>

      
      <ion-item class="senha">
        <ion-input formControlName="password" type="password" placeholder="Digite sua senha" class="input"></ion-input>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="Change">
        <a [routerLink]="['/configuracao']">Esqueceu/Trocar Senha</a>
       </div>

      <div class="botao">
        <ion-button shape="round" color="dark" (click)="login()">Entrar</ion-button>
      </div>

      <div class="reg">
       <p>Não possui uma conta?<a [routerLink]="['/registrar']">Cadastre-se</a></p>
      </div>
    </div>

  </form>
</ion-content>

