<ion-content [fullscreen]="true"> 
  <div class="box">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar class="custom-toolbar">
          <ion-title class="custom-title">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="custom-content">
          <ion-item class="custom-item" routerLink="/meuperfil" routerDirection="root">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label class="custom-label">Meu Perfil</ion-label>
          </ion-item>
          <ion-item class="custom-item" routerLink="/configuracao" routerDirection="root">
            <ion-icon slot="start" name="settings"></ion-icon>
            <ion-label class="custom-label">Configurações</ion-label>
          </ion-item>
          <ion-item class="custom-item" routerLink="/equipe" routerDirection="root">
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label class="custom-label">Equipe</ion-label>
          </ion-item>
      </ion-content>    
      
      <ion-item *ngIf="userName !== 'Login'" class="iten">
        <ion-button (click)="logout()" color="medium" class="log">
          Sair
        </ion-button>
      </ion-item>     
    </ion-menu>
  
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-header>
    </div>
  
    <div>
      <ng-container *ngIf="userName === 'Login'; else loggedInUser">
        <a [routerLink]="['/login']">
          <ion-title class="login">{{ userName }}</ion-title>
        </a>
      </ng-container>
      <ng-template #loggedInUser>
        <ion-title class="login">{{ userName }}</ion-title>
      </ng-template>
    </div>

    <a [routerLink]="['/index']">
      <h1 class="Mylg">MyLibraryGame</h1>
    </a>
  
   
    </div>
    <br><br><br><br><br><br>
    
    <img [src]="gameDetails.background_image" alt="Game Image" />
    <div class="game-detail">
      <h1>{{ gameDetails.name }}</h1>  
      <ion-button class="fav" (click)="toggleFavorite()" color="medium">
        <ion-icon [name]="isFavorite ? 'star' : 'star-outline'"></ion-icon>
        {{ isFavorite ? 'Desfavoritar' : 'Favoritar' }}
      </ion-button>
    </div>  
    
    <p><strong>Sinopse:</strong> {{ gameDetails.manualSynopsis }}</p>
    <p><strong>Desenvolvedora:</strong> {{ gameDetails.developers[0]?.name }}</p>
    <p><strong>Nota:</strong> {{ gameDetails.manualRating }}</p> 
    <p><strong>Lançamento:</strong> {{ gameDetails.manualReleaseDate }}</p>   

    <ion-header>
        <ion-buttons slot="start">
          <ion-button (click)="PagAnterior()" class="bt">
            <ion-icon slot="icon-only" name="arrow-back" class="tt"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-header>
</ion-content>
