<ion-content [fullscreen]="true"> 
  <div class="box">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar></ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="person"></ion-icon>Meu Perfil
          </ion-item>
          <ion-item>
            <ion-icon name="settings"></ion-icon>Configurações
          </ion-item>
          <ion-item>
            <ion-icon name="person-add"></ion-icon> <a [routerLink]="['/equipe']" class="equipe">Equipe</a>
          </ion-item>
        </ion-list>
      </ion-content>  
    </ion-menu>
  
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-header>
    </div>
  
    <div>
      <ng-container *ngIf="userName === 'Login'; else loggedInUser">
        <a [routerLink]="['/login']">
          <ion-title class="login">{{ userName }}</ion-title>
        </a>
      </ng-container>
      <ng-template #loggedInUser>
        <ion-title class="login">{{ userName }}</ion-title>
      </ng-template>
    </div>

    <a [routerLink]="['/index']">
      <h1 class="Mylg">MyLibraryGame</h1>
    </a>
  
   
    </div>
    <br><br><br><br><br><br>
    
    <img [src]="gameDetails.background_image" alt="Game Image" />
    <div class="game-detail">
      <h1>{{ gameDetails.name }}</h1>  
      <ion-button class="fav" (click)="toggleFavorite()" color="medium">
        <ion-icon [name]="isFavorite ? 'star' : 'star-outline'"></ion-icon>
        {{ isFavorite ? 'Desfavoritar' : 'Favoritar' }}
      </ion-button>
    </div>  
    
    <p><strong>Sinopse:</strong> {{ gameDetails.manualSynopsis }}</p>
    <p><strong>Desenvolvedora:</strong> {{ gameDetails.developers[0]?.name }}</p>
    <p><strong>Nota:</strong> {{ gameDetails.manualRating }}</p> 
    <p><strong>Lançamento:</strong> {{ gameDetails.manualReleaseDate }}</p>   

    <ion-header>
        <ion-buttons slot="start">
          <ion-button (click)="PagAnterior()" class="bt">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-header>
</ion-content>
