<ion-content [fullscreen]="true"> 
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar class="custom-toolbar">
          <ion-title class="custom-title">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="custom-content">
          <ion-item class="custom-item" routerLink="/meuperfil" routerDirection="root">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label class="custom-label">Meu Perfil</ion-label>
          </ion-item>
          <ion-item class="custom-item" routerLink="/configuracao" routerDirection="root">
            <ion-icon slot="start" name="settings"></ion-icon>
            <ion-label class="custom-label">Configurações</ion-label>
          </ion-item>
          <ion-item class="custom-item" routerLink="/equipe" routerDirection="root">
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label class="custom-label">Equipe</ion-label>
          </ion-item>
      </ion-content>    
      
      <ion-item *ngIf="userName !== 'Login'" class="iten">
        <ion-button (click)="logout()" color="medium" class="log">
          Sair
        </ion-button>
      </ion-item>     
    </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-header>
  </div>

  <div>
    <ng-container *ngIf="userName === 'Login'; else loggedInUser">
      <a [routerLink]="['/login']">
        <ion-title class="login">{{ userName }}</ion-title>
      </a>
    </ng-container>
    <ng-template #loggedInUser>
      <a [routerLink]="['/meuperfil']">
        <ion-title class="login">{{ userName }}</ion-title>
      </a>
    </ng-template>
  </div>
  
  <a [routerLink]="['/index']">
    <h1 class="Mylg">MyLibraryGame</h1>
  </a>

  <br><br><br><br><br><br><br><br>
  <ion-grid>
    <!-- Linha para Davi Tenório -->
    <ion-row>
      <ion-col size-md="4" size-sm="12" data-aos="fade-right">
        <img src="assets/imgs/davi-tenorio.png" class="img-fluid" alt="Davi Tenório" />
      </ion-col>
      <ion-col size-md="8" size-sm="12" class="pt-4 content" data-aos="fade-left">
        <h2>Davi Tenório</h2>
        <ion-list>
          <ion-item>
            <p><strong>Cursando:</strong> <span>Análise e Des. de Sistemas</span></p>
          </ion-item>
          <ion-item>
            <p><strong>Cidade:</strong> <span>Rio de Janeiro - RJ</span></p>
          </ion-item>
          <ion-item>
            <p><strong>Local:</strong> <span>R. Fonseca, Bangu - RJ 21820-005</span></p>
          </ion-item>
          <ion-item>
            <p><strong>Turno:</strong> <span>Noturno <b>18:30</b> às <b>21:10h</b></span></p>
          </ion-item>
          <ion-item>
            <p><strong>Matrícula:</strong> <span>23201861</span></p>
          </ion-item>
          <ion-item>
            <p><strong>Email:</strong> <span>davieteixeira0gmail.com</span></p>
          </ion-item>
          <ion-item>
            <p><strong>Links:</strong></p>
            <span>
              <a href="https://www.linkedin.com/in/daviteixeiratenorio/">LinkedIn</a>,
              <a href="https://www.instagram.com/ttnorio/">Instagram</a>,
              <a href="https://twitter.com/tteno_rio">Twitter</a>
            </span>
          </ion-item>
          <ion-item>
            <p><strong>Freelance:</strong> <span>Available</span></p>
          </ion-item>
        </ion-list>
        <ion-item>
        <p>
          Atualmente estudante de <b>Análise e Desenvolvimento de Sistemas</b>, com experiência em design gráfico. Sempre gostei de tecnologia e de criar coisas novas, e acredito que essas duas áreas <b>podem se complementar muito</b> bem.
        </p>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <!-- Linha para Gleidson Cruz -->
    <ion-row>
      <ion-col size-md="4" size-sm="12" data-aos="fade-right">
        <img src="assets/imgs/gleidson.png" class="img-fluid" alt="Gleidson Cruz" />
      </ion-col>
      <ion-col size-md="8" size-sm="12" class="pt-4 content" data-aos="fade-left">
        <h2>Gleidson Cruz</h2>
        <ion-list>
          <ion-item>
            <p><strong>Cursando:</strong> <span>Análise e Des. de Sistemas</span></p>
          </ion-item>
          <ion-item>
            <p><strong>Cidade:</strong> <span>Rio de Janeiro - RJ</span></p>
          </ion-item>
          <ion-item>
            <p><strong>Local:</strong> <span>R. Fonseca, Bangu - RJ 21820-005</span></p>
          </ion-item>
          <ion-item>
            <p><strong>Turno:</strong> <span>Noturno <b>18:30</b> às <b>21:10h</b></span></p>
          </ion-item>
          <ion-item>
            <p><strong>Matrícula:</strong> <span>23201773</span></p>
          </ion-item>
          <ion-item>
            <p><strong>Email:</strong> <span>gleidsoncruz33gmail.com</span></p>
          </ion-item>
          <ion-item>
            <p><strong>Links:</strong></p>
            <span>
              <a href="https://www.linkedin.com/in/gleidson-cruz-100889265/">LinkedIn</a>,
              <a href="https://www.instagram.com/fuub_fuub">Instagram</a>,
              <a href="https://twitter.com/ikew_te">Twitter</a>
            </span>
          </ion-item>
          <ion-item>
            <p><strong>Freelance:</strong> <span>Available</span></p>
          </ion-item>
        </ion-list>
        <ion-item>
          <p>
            Atualmente estudante de <b>Análise e Desenvolvimento de Sistemas</b>, proeficiente em inglês e adepto a realizar da melhor forma todas as tarefas que me são entregues.
          </p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  