.ion-page {
    margin-top: 30px;
    color: white;
}
.box{
  background-color: black;
}

.Mylg {
    position: absolute;
    width: 178px;
    height: 22px;
    left: 100px;
    top: 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
  
.login {
    position: absolute;
    width: 100px;
    height: 44px;
    left: 300px;
    top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
}
  
.barra {
    width: 300px;
    height: 58px;
    left: 45px;
    top: 90px;
    border-radius:30px;
}

.GameContent {
    margin-top: 100px;
    font-weight: 700;
}
    .cards-container {
      display: flex;
      justify-content: flex-end; /* Alinha os itens à direita */
      align-items:center;
      gap:0;
    }
  
    ion-card {
      flex: 0 0 120px;
      background-color: transparent; 
      box-shadow: none; 
      margin: 1px;
    }  
  
  ion-list{
    background-color: black;
  }
  
.seemore{
position: absolute;
left: 300px;
top: 168px;
text-align: center;
color: #FFFFFF;
font-weight: 200;
}

.seemore2{
    position: absolute;
    left: 300px;
    top: 341px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 200; 
}

.seemore3{
    position: absolute;
    left: 300px;
    top: 515px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 200;  
}

h3{
    font-weight: 700;
    color: white;
}
.equipe{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ion-menu {
  background-color: rgba(0, 0, 0, 0.499);
}
ion-content {
  --background: black;
}

ion-list {
  background-color: transparent; 
}


.log{
  border-radius: 200px;
  color:rgb(0, 0, 0);
  width: 50%;
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
}

.iten{
  --background: #000;
}

.custom-toolbar {
  --background: #000;
}

.custom-title, .custom-label {
  color: #fff; 
}

.custom-label {
  color: #fff;
      
} 

.custom-item {
   margin-bottom: 80px; /* Ajuste o valor conforme necessário */
  --background: #000;   
  color: #000;
}

.custom-content {
  --background: #000; /* Cor preta para o fundo */
}

ion-icon{
  color: white;
}

ion-text{
  color: white;
}

h1{
  color: white;
}