<ion-content [fullscreen]="true"> 
  <div class="box">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar></ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="person"></ion-icon>Meu Perfil
          </ion-item>
          <ion-item>
            <ion-icon name="settings"></ion-icon>Configurações
          </ion-item>
          <ion-item>
            <ion-icon name="person-add"></ion-icon> 
            <a [routerLink]="['/equipe']" class="equipe">Equipe</a>
          </ion-item>
        </ion-list>
      </ion-content>  
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-header>
    </div>

    <div>
      <a [routerLink]="['/login']">
        <ion-title class="login">Login</ion-title>
      </a>
    </div>
    
    <a [routerLink]="['/index']">
      <h1 class="Mylg">MyLibraryGame</h1>
    </a>

    <ion-searchbar class="barra" show-cancel-button="never" placeholder="Pesquisar..."></ion-searchbar>

    <!-- Seção "Lançamento do Ano" -->
    <div class="GameContent">
      <h3>Novos Lançamentos</h3>
      <a [routerLink]="['/lancamento']" class="seemore">Ver Mais</a>
      <div class="cards-container">
        <ion-card (click)="openGameDetails(987537)"> 
          <ion-list>
            <img src="../../../assets/imgs/wukong.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(982817)"> 
          <ion-list>
            <img src="../../../assets/imgs/astrobot.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(850705)"> 
          <ion-list>
            <img src="../../../assets/imgs/tk8.png" />
          </ion-list>
        </ion-card>
      </div>
    </div>

    <!-- Seção "Piores Jogos" -->
    <div class="GameContent2">
      <h3>Piores Notas</h3>
      <a [routerLink]="['/piores']" class="seemore2">Ver Mais</a>
      <div class="cards-container">
        <ion-card (click)="openGameDetails(17936)">
          <ion-list>
            <img src="../../../assets/imgs/rambo.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(825734)"> 
          <ion-list>
            <img src="../../../assets/imgs/superman64.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(427543)"> 
          <ion-list>
            <img src="../../../assets/imgs/mineiro.png" />
          </ion-list>
        </ion-card>
      </div>
    </div>

    <!-- Seção "Mais Populares" -->
    <div class="GameContent2">
      <h3>Mais Populares</h3>
      <a [routerLink]="['/popular']" class="seemore3">Ver Mais</a>
      <div class="cards-container">
        <ion-card (click)="openGameDetails(25097)"> 
          <ion-list>
            <img src="../../../assets/imgs/zelda.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(3498)"> 
          <ion-list>
            <img src="../../../assets/imgs/gta.png" />
          </ion-list>
        </ion-card>

        <ion-card (click)="openGameDetails(28)"> 
          <ion-list>
            <img src="../../../assets/imgs/rd2.png" />
          </ion-list>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
